@model Dyt_APP.Models.Classes.Client


@{
    ViewBag.Title = "CalculateBMI";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BMI HESAPLA</h2>
<br />
@using (Html.BeginForm("CalculateBMI", "Admin", FormMethod.Post))
{

    <br />
    <label for="gender">Cinsiyet Seçin:</label>
    <select name="gender" id="gender">
        <option value="0" @(Model.Gender == Dyt_APP.Models.Classes.Gender.Male ? "selected" : "")>Erkek</option>
        <option value="1" @(Model.Gender == Dyt_APP.Models.Classes.Gender.Female ? "selected" : "")>Kadın</option>
    </select>
    <br />
    <br />
    <label for="Date">Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label for="Age">Yaş</label>
    @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
    <br />
    <label for="Weight">Kilo</label>
    @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
    <br />
    <label for="Height">Boy</label>
    @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
    <br />
    <label for="BMI.FatMass">Yağ Yüzdesi</label>
    @Html.TextBoxFor(x => x.BMI.FatMass, new { @class = "form-control" })
    <br />
    <label for="BMI.MuscleMass">Kas Yüzdesi</label>
    @Html.TextBoxFor(x => x.BMI.MuscleMass, new { @class = "form-control" })
    <br />
    <label for="BMI.Kcal">KKal</label>
    @Html.TextBoxFor(x => x.BMI.Kcal, new { @class = "form-control" })
    <br />
    <label for="BMI.BoneMass">Kemik Yüzdesi</label>
    @Html.TextBoxFor(x => x.BMI.BoneMass, new { @class = "form-control" })
    <br />
    <label for="BMI.MetabolicAge">Metabolik Yaş</label>
    @Html.TextBoxFor(x => x.BMI.MetabolicAge, new { @class = "form-control" })
    <br />
    <label for="BMI.LiquidMass">Sıvı Yüzdesi</label>
    @Html.TextBoxFor(x => x.BMI.LiquidMass, new { @class = "form-control" })
    <br />
    <label for="BMI.InnerFat">İç Yağ</label>
    @Html.TextBoxFor(x => x.BMI.InnerFat, new { @class = "form-control" })
    <br />

    <div>
        <input type="submit" value="Hesapla" class="btn btn-success" />

    </div>
    <br />
    <div>
        <h3>Önceki Ölçüm Sonuçları</h3>
        <br />
        @if (Model != null && Model.BMIs != null && Model.BMIs.Any())
        {
            <table class="table">
                <tr>
                    <th>KİLO</th>
                    <th>YAĞ %</th>
                    <th>KAS %</th>
                    <th>BMI</th>
                    <th>KCAL</th>
                    <th>KEMİK %</th>
                    <th>MET.YAŞ</th>
                    <th>SIVI %</th>
                    <th>İÇ YAĞ</th>
                    <th>MİNBMI</th>
                    <th>MAXBMI</th>
                    <th>İDEAL KG</th>
                    <th>Hesaplama Tarihi</th>
                </tr>
                @{
                    var lastFiveBMIs = Model.BMIs.Where(b => b.ClientId == Model.ID)
                                                  .OrderByDescending(b => b.CalculationDate)
                                                  .Take(5);
                }
                @foreach (var bmiData in lastFiveBMIs)
                {
                    <tr>
                        <td>@bmiData.Weight</td>
                        <td>@bmiData.FatMass</td>
                        <td>@bmiData.MuscleMass</td>
                        <td>@bmiData.BmiCalculation</td>
                        <td>@bmiData.Kcal</td>
                        <td>@bmiData.BoneMass</td>
                        <td>@bmiData.MetabolicAge</td>
                        <td>@bmiData.LiquidMass</td>
                        <td>@bmiData.InnerFat</td>
                        <td>@bmiData.MinBMI</td>
                        <td>@bmiData.MaxBMI</td>
                        <td>@bmiData.IdealWeight</td>
                        <td>@bmiData.CalculationDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Önceki BMI hesaplamaları bulunmuyor.</p>
        }

    </div>


}


@if (ViewBag.BMI != null)
{

    <div>
        <table class="table">
            <tr class="info">
                <td>Vücut Kitle İndeksiniz (BMI)</td>
                <td><b>@ViewBag.BMI</b></td>
            </tr>
            <tr class="success">
                <td>Minimum olması gereken Vücut Kitle İndeksiniz (BMI)</td>
                <td><b>@ViewBag.MinBMI</b></td>
            </tr>
            <tr class="warning">
                <td>Maksimum olması gereken Vücut Kitle İndeksiniz (BMI)</td>
                <td><b>@ViewBag.MaxBMI</b></td>
            </tr>
            <tr class="danger">
                <td>İdeal Vücut Kitle İndeksiniz (BMI)</td>
                <td><b>@ViewBag.IdealWeight</b></td>
            </tr>
            <tr class="info">
                <td>Yağ %</td>
                <td>@ViewBag.FatMass</td>
            </tr>

            <tr class="success">
                <td>Kas %</td>
                <td>@ViewBag.MuscleMass</td>
            </tr>
            <tr class="warning">
                <td>Kcal</td>
                <td>@ViewBag.Kcal</td>
            </tr>
            <tr class="danger">
                <td>Kemik %</td>
                <td>@ViewBag.BoneMass</td>
            </tr>
            <tr class="info">
                <td>Met.Yaş</td>
                <td>@ViewBag.MetabolicAge</td>
            </tr>

            <tr class="success">
                <td>Sıvı %</td>
                <td>@ViewBag.LiquidMass</td>
            </tr>
            <tr class="warning">
                <td>İç Yağ</td>
                <td>@ViewBag.InnerFat</td>
            </tr>
        </table>

    </div>
}

<!--
    <div>
        <h3>Önceki Ölçüm Sonuçları</h3>
        <br />
        @if (Model != null && Model.BMIs != null && Model.BMIs.Any())
        {
            <table class="table">
                <tr>
                    <th>Kilo</th>
                    <th>BMI</th>
                    <th>MinBMI</th>
                    <th>MaxBMI</th>
                    <th>İdeal Kilo</th>
                    <th>Hesaplama Tarihi</th>
                </tr>
                @foreach (var bmiData in Model.BMIs)
                {
                    <tr>
                        <td>@bmiData.Weight</td>
                        <td>@bmiData.BmiCalculation</td>
                        <td>@bmiData.MinBMI</td>
                        <td>@bmiData.MaxBMI</td>
                        <td>@bmiData.IdealWeight</td>
                        <td>@bmiData.CalculationDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Önceki BMI hesaplamaları bulunmuyor.</p>
        }

    </div>
-->
